
.container {
	width: 340px;
	border-style: ridge;
	box-shadow: 5px 5px 5px #888888;
}

.content {
	margin: 5px auto 5px auto;
	width: 300px;
	border-style: ridge;
}

h3 {
  font-weight: bold;
  text-align: center;
 }

img {
	width: 300px;
	display: block;
	margin: auto;
}

ul {
	list-style: none;
	padding: 7.5px; 
}

p {
	padding: 7.5px;
}

p.interesting-fact {
	font-style: italic;
}

span.label {
	font-weight: bold;
}
